.content{
    grid-area: c;
    min-height: 800px;
    background: lightblue;

}

.content img{
    width: 100%;
    overflow: hidden;
}
.item{
    color: forestgreen;
    font-weight: bold;
}

.item active{
    color: goldenrod;
    font-weight: bold;
}