.content{
    grid-area: c;
    height: 800px;
    background: lightblue;

}

.content img{
    width: 100%;
    overflow: hidden;
}

.avatar img{
    width: 80px;
}

.item{
    color: forestgreen;
    font-weight: bold;
}
