
.nav{
    grid-area: n;
    background: lightpink;
    min-height: 800px;
    min-width: 180px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.nav div{
    padding: 10px;
}

.active {
     color: black;
}

